.main-content,.jumbotron {
  background: black;
  color: #CDCDCD;
}

#MainContent_DDYear {
  background: #E1DEE3;
  color: black;
  box-shadow: inset 1px 4px 10px 1px rgba(0,0,0,0.3);
}

.footer {
  background: #373737;
}

.footer p, .footer a, .footer i {
  color: white;
}

.news.content a, .acntr {
  color: white;
}

.topbar, .erp, .central-form {
  background: #9C9C9C;
}

.central-form label {
  color: white;
}

.erp p {
  color: white;
}

.navvy {
  background: #CDCDCD;
}

table th, table td {
  border: 1px solid gainsboro !important;
}
